node-red/flows.json
[{"id":"2e9b8fc.dc36c7","type":"tab","label":"Washing Machine","disabled":false,"info":""},{"id":"663e68a9.d31288","type":"tab","label":"Night Routine","disabled":false,"info":""},{"id":"326a2f9b.df74e","type":"tab","label":"Dishwasher","disabled":false,"info":""},{"id":"9e4ffe6e.b6da2","type":"tab","label":"Front Door Flows","disabled":false,"info":""},{"id":"772d00ec.e2dd5","type":"tab","label":"System Updates","disabled":false,"info":""},{"id":"c377b489.b50eb8","type":"tab","label":"Beta Workflow Test","disabled":false,"info":""},{"id":"73923c19.38c714","type":"tab","label":"System Automation","disabled":false,"info":""},{"id":"2bb9921e.1889be","type":"tab","label":"DrySoon","disabled":false,"info":""},{"id":"c7747b48.7ed688","type":"tab","label":"Away Mode","disabled":false,"info":""},{"id":"c3015569.ff9158","type":"tab","label":"Kitchen Lights","disabled":false,"info":""},{"id":"e6f66e9e.8658e","type":"tab","label":"Nespresso","disabled":false,"info":""},{"id":"7a8f51e1.2f8e1","type":"tab","label":"Xbox Gaming Mode","disabled":false,"info":""},{"id":"c22f6ea1.aed2a","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[{"x":1000,"y":200,"wires":[{"id":"a8ce458c.320a68","port":0}]}]},{"id":"a5b89101.9f529","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"2e54130d.662b9c","type":"pushover-keys","name":"Home Assistant PushOver"},{"id":"21d6d1a0.4f446e","type":"discord-token","name":"Home Assistant - Node Red"},{"id":"9ac0846.2f15578","type":"github-api-config","appId":"98674","instId":"14473360","ua":"NodeRedHomeAssistant","name":"Rj175"},{"id":"adbeb932.d85928","type":"tls-config","name":"IoT","cert":"","key":"","ca":"","certname":"cert.crt","keyname":"private.key","caname":"rootCA.crt","servername":"","verifyservercert":true},{"id":"9a8f3145.e9d35","type":"mqtt-broker","name":"IoT","broker":"aslahpnl8pasa-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"adbeb932.d85928","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"df5f2aa8.ee59c8","type":"server-state-changed","z":"2e9b8fc.dc36c7","name":"Washing Machine","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.washing_machine_watts","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":120,"wires":[["e74ba5e7.c9d2d8"]]},{"id":"e74ba5e7.c9d2d8","type":"switch","z":"2e9b8fc.dc36c7","name":"Washing Machine Load","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"btwn","v":"0","vt":"num","v2":"3","v2t":"num"},{"t":"gte","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":120,"wires":[["9a46ff17.69b4c"],["b3beb3ac.fe844"],["268afdd9.a527f2"]]},{"id":"b3beb3ac.fe844","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Set Washing Machine Status - Idle","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\": \"Idle\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":120,"wires":[[]]},{"id":"268afdd9.a527f2","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Set Washing Machine Running","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\": \"Running\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":180,"wires":[[]]},{"id":"75189243.c20d9c","type":"trigger-state","z":"2e9b8fc.dc36c7","name":"Washing Machine Finished Notification","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.washing_machine_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Idle","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Running","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":480,"wires":[["61ede97e.e0edb8"],[]]},{"id":"4ffc04ab.cd18dc","type":"server-state-changed","z":"2e9b8fc.dc36c7","name":"Washing Machine is Running","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.washing_machine_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Running","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":260,"wires":[["3e97c79c.d86208"],[]]},{"id":"2fd1dddf.d82ed2","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Decrease pod count","server":"a5b89101.9f529","version":3,"debugenabled":true,"service_domain":"input_number","service":"decrement","entityId":"input_number.washing_machine_pods","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":320,"wires":[[]]},{"id":"88736fd9.1712a","type":"api-current-state","z":"c22f6ea1.aed2a","name":"Is phone charging?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sm_g988b_is_charging_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":430,"y":180,"wires":[["c020a0a9.bcb31"]]},{"id":"85c83788.5f7bb8","type":"api-current-state","z":"c22f6ea1.aed2a","name":"Is bedroom TV off?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.bedroom_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":430,"y":80,"wires":[["c020a0a9.bcb31"]]},{"id":"c020a0a9.bcb31","type":"join","z":"c22f6ea1.aed2a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":200,"wires":[["a8ce458c.320a68"]]},{"id":"a8ce458c.320a68","type":"function","z":"c22f6ea1.aed2a","name":"","func":"if (msg.payload['media_player.bedroom_tv'] == \"off\" && msg.payload['binary_sensor.sm_g988b_is_charging_2'] == \"on\" && msg.payload['sensor.richards_ipad_battery_state'] == \"Charging\") {\n    msg.payload = true \n} else {\n    msg.payload = false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":200,"wires":[[]]},{"id":"2fa3739d.54073c","type":"api-call-service","z":"663e68a9.d31288","name":"Turn off Bedroom Lights","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bed, light.bedroom_tv, light.desk, light.bedroom_lamp, light.bedroom_standing_lamp, light.bedroom_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":100,"wires":[[]]},{"id":"aa192444.b2c908","type":"time-range-switch","z":"c22f6ea1.aed2a","name":"","lat":"","lon":"","startTime":"22:30","endTime":"04:00","startOffset":0,"endOffset":0,"x":190,"y":160,"wires":[["85c83788.5f7bb8","88736fd9.1712a"],[]]},{"id":"b4597de6.53831","type":"server-state-changed","z":"9e4ffe6e.b6da2","name":"Intercom Sensor","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.intercom_strength","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":120,"y":80,"wires":[["f73588866447af20"]]},{"id":"5d82a7d.fd33d58","type":"function","z":"9e4ffe6e.b6da2","name":"Did the door sensor open?","func":"if (msg.payload[0].state === \"off\") {\n    msg.payload = \":door: Someones is at the door!\"\n} else {\n    msg.payload = true\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":80,"wires":[["33e9071a.1c6638"]]},{"id":"33e9071a.1c6638","type":"switch","z":"9e4ffe6e.b6da2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":80,"wires":[["9cf96557.b7a268"]]},{"id":"efc8da60.763f28","type":"server-state-changed","z":"2e9b8fc.dc36c7","name":"Washing Machine Pods","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.washing_machine_pods","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":820,"wires":[["e62f56da.abfa48"]]},{"id":"e62f56da.abfa48","type":"switch","z":"2e9b8fc.dc36c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":820,"wires":[["b0c3d876.de56d8"]]},{"id":"efe04caf.d3f58","type":"delay","z":"2e9b8fc.dc36c7","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":280,"wires":[["5a2bb32b.94b79c"]]},{"id":"5a2bb32b.94b79c","type":"api-current-state","z":"2e9b8fc.dc36c7","name":"Get Washing Machine Status","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.washing_machine_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":760,"y":280,"wires":[["555f52d0.b7f14c"]]},{"id":"555f52d0.b7f14c","type":"switch","z":"2e9b8fc.dc36c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":360,"wires":[["2fd1dddf.d82ed2","2c5efa97.eb4b56"]]},{"id":"8cf4e3c5.31e52","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Idle","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Idle\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":360,"wires":[[]]},{"id":"8f9d4ef0.0ef3d","type":"trigger-state","z":"326a2f9b.df74e","name":"Dishwasher Running Notification","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.dishwasher_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Standby","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Running","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":660,"wires":[["f8a9df3e.33631","b9528a0.710f778"],[]]},{"id":"4445157f.b93a2c","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Finished","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Finished\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":320,"wires":[["9200559a.e69a18"]]},{"id":"bf9f30e8.ce7dd","type":"trigger-state","z":"326a2f9b.df74e","name":"Dishwasher Idle Notification","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.dishwasher_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Idle","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Running","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":250,"y":760,"wires":[["615a3077.ed1d3"],[]]},{"id":"f8a9df3e.33631","type":"api-call-service","z":"326a2f9b.df74e","name":"Decrease Tablet Count","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_number","service":"decrement","entityId":"input_number.dishwasher_tablets","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":680,"wires":[[]]},{"id":"320e4944.4673c6","type":"time-range-switch","z":"663e68a9.d31288","name":"","lat":"","lon":"","startTime":"22:30","endTime":"04:00","startOffset":0,"endOffset":0,"x":430,"y":180,"wires":[["7a657969.0c3b18","e2c9b406.f30488"],[]]},{"id":"7a657969.0c3b18","type":"api-current-state","z":"663e68a9.d31288","name":"Is bedroom TV off?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.bedroom_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":650,"y":100,"wires":[["aedcd4a8.798b58"]]},{"id":"e2c9b406.f30488","type":"api-current-state","z":"663e68a9.d31288","name":"Is phone charging?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sm_g988b_is_charging_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":650,"y":260,"wires":[["aedcd4a8.798b58"]]},{"id":"3b26831c.9f3b9c","type":"server-state-changed","z":"663e68a9.d31288","name":"Bedroom Display Playing","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_display","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":180,"wires":[["320e4944.4673c6"],[]]},{"id":"6c5f41ac.ba5d5","type":"function","z":"772d00ec.e2dd5","name":"Get addons","func":"msg.payload = msg.data.attributes.addons\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":360,"wires":[["b5058971.99a268"]]},{"id":"b5058971.99a268","type":"split","z":"772d00ec.e2dd5","name":"Split Addons","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":160,"wires":[["53592554.a341cc","ee926043.a43d7"]]},{"id":"ee6e8dc0.d6982","type":"ha-wait-until","z":"c377b489.b50eb8","name":"Wait until pipeline is not running","server":"a5b89101.9f529","version":0,"outputs":1,"entityId":"sensor.aws_codepipeline_home_assistant_beta","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"InProgress","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":870,"y":140,"wires":[["86ee296c.259cb8"]]},{"id":"de3c9800.a12c08","type":"delay","z":"c377b489.b50eb8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":140,"wires":[["ee6e8dc0.d6982"]]},{"id":"910421f1.d28ae","type":"github-rest-api","z":"c377b489.b50eb8","mediaType":"","endpoint":"POST /repos/rj175/home-assistant-config/issues","client":"9ac0846.2f15578","name":"Create Github Issue","x":140,"y":260,"wires":[["eb9cbfba.425cf"]]},{"id":"e6b84fda.f0703","type":"function","z":"c377b489.b50eb8","name":"Prep Github Payload","func":"\nmsg.payload = {\n    \"title\": \"Hassio Beta Version Test (\" + msg.data.state +\")\",\n    \"labels\": [\"beta-testing\"]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["910421f1.d28ae"]]},{"id":"1d4b3356.cd2d7d","type":"api-current-state","z":"c377b489.b50eb8","name":"Get Beta Version","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.beta_hassio_version","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":180,"wires":[["e6b84fda.f0703"]]},{"id":"eb9cbfba.425cf","type":"change","z":"c377b489.b50eb8","name":"Store Issue ID","rules":[{"t":"set","p":"issue_id","pt":"flow","to":"payload.number","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["de3c9800.a12c08"]]},{"id":"96e552ce.b81cd","type":"function","z":"c377b489.b50eb8","name":"Prep Github Payload","func":"msg.payload = {\n    \"body\": \"Build has passed!\"\n}\nmsg.endpoint = \"POST /repos/rj175/home-assistant-config/issues/\" + flow.get(\"issue_id\") + \"/comments\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":540,"wires":[["98f10b1a.068a18"]]},{"id":"86ee296c.259cb8","type":"api-current-state","z":"c377b489.b50eb8","name":"Get Pipeline State","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aws_codepipeline_home_assistant_beta","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":670,"y":240,"wires":[["ec0b96c9.055b88"]]},{"id":"98f10b1a.068a18","type":"github-rest-api","z":"c377b489.b50eb8","mediaType":"","endpoint":"","client":"9ac0846.2f15578","name":"Add comment","x":720,"y":560,"wires":[[]]},{"id":"afc22b64.62c6f8","type":"api-call-service","z":"c377b489.b50eb8","name":"Start Pipeline","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"aws_codepipeline","service":"execute_pipeline","entityId":"","data":"{\"pipeline_name\":\"home_assistant_beta\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":40,"wires":[["de3c9800.a12c08","1d4b3356.cd2d7d"]]},{"id":"ec0b96c9.055b88","type":"switch","z":"c377b489.b50eb8","name":"Check Pipeline State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Succeeded","vt":"str"},{"t":"eq","v":"Failed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":460,"wires":[["96e552ce.b81cd","d9e8704e.346e3"],["8e23d382.1513a","9a1ffab2.7ec438"]]},{"id":"8e23d382.1513a","type":"function","z":"c377b489.b50eb8","name":"Prep Github Payload","func":"msg.payload = {\n    \"body\": \"Build has failed, please investigate\"\n}\nmsg.endpoint = \"POST /repos/rj175/home-assistant-config/issues/\" + flow.get(\"issue_id\") + \"/comments\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":600,"wires":[["98f10b1a.068a18"]]},{"id":"d9e8704e.346e3","type":"function","z":"c377b489.b50eb8","name":"Prep Github Label Payload","func":"msg.payload = {\n    \"labels\": [\"build-passed\"],\n    \"state\": \"closed\"\n}\nmsg.endpoint = \"PATCH /repos/rj175/home-assistant-config/issues/\" + flow.get(\"issue_id\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":400,"wires":[["2ded4d5a.e4f052"]]},{"id":"9a1ffab2.7ec438","type":"function","z":"c377b489.b50eb8","name":"Prep Github Label Payload","func":"msg.payload = {\n    \"labels\": [\"build-failed\"]\n}\nmsg.endpoint = \"PATCH /repos/rj175/home-assistant-config/issues/\" + flow.get(\"issue_id\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["2ded4d5a.e4f052"]]},{"id":"2ded4d5a.e4f052","type":"github-rest-api","z":"c377b489.b50eb8","mediaType":"","endpoint":"","client":"9ac0846.2f15578","name":"Add Label","x":740,"y":400,"wires":[[]]},{"id":"53592554.a341cc","type":"function","z":"772d00ec.e2dd5","name":"Prep Payload for Update","func":"msg.url = \"http://supervisor/addons/\" + msg.payload.slug + \"/update\"\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = \"Bearer \" + env.get(\"SUPERVISOR_TOKEN\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":120,"wires":[["d6291ced.4c41b"]]},{"id":"d6291ced.4c41b","type":"http request","z":"772d00ec.e2dd5","name":"Update addon","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":120,"wires":[["cc6e72a5.95286"]]},{"id":"235feb97.d90e64","type":"moment","z":"772d00ec.e2dd5","name":"Current Timestamp","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"","outputType":"msg","outTz":"Europe/London","x":150,"y":200,"wires":[["8da0602b.ff6d5"]]},{"id":"532b65c.97a849c","type":"function","z":"772d00ec.e2dd5","name":"","func":"msg.payload = msg.payload.data.name + \" has been updated, you will need to restart\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["bb42df34.4e07a"]]},{"id":"bb42df34.4e07a","type":"discord-send-messages","z":"772d00ec.e2dd5","name":"Send message","channel":"806659316987723776","token":"21d6d1a0.4f446e","x":960,"y":420,"wires":[]},{"id":"ee926043.a43d7","type":"function","z":"772d00ec.e2dd5","name":"Prep Payload for Add-on Info","func":"msg.url = \"http://supervisor/addons/\" + msg.payload.slug + \"/info\"\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = \"Bearer \" + env.get(\"SUPERVISOR_TOKEN\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":200,"wires":[["b804790c.5e6dd8"]]},{"id":"b804790c.5e6dd8","type":"http request","z":"772d00ec.e2dd5","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":280,"wires":[["532b65c.97a849c"]]},{"id":"79392336.eea8ec","type":"trigger-state","z":"c377b489.b50eb8","name":"","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.beta_hassio_version","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":180,"y":40,"wires":[["afc22b64.62c6f8"],[]]},{"id":"ba7b428b.cabcc","type":"comment","z":"73923c19.38c714","name":"Check for latest Hassio Version","info":"","x":170,"y":40,"wires":[]},{"id":"c54e62d.df0e7a","type":"api-current-state","z":"73923c19.38c714","name":"Get Current Version","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.current_hassio_version","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"current_version","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":360,"y":80,"wires":[["8c7baa75.c66818"]]},{"id":"8c7baa75.c66818","type":"switch","z":"73923c19.38c714","name":"Does version not match?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"current_version","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":80,"wires":[["56a22a29.22e504","97dfebc9.1ff4f8"]]},{"id":"d9704bd1.a12ca8","type":"server-state-changed","z":"73923c19.38c714","name":"Latest Hassio Version","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.latest_hassio_version","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":80,"wires":[["c54e62d.df0e7a"]]},{"id":"56a22a29.22e504","type":"api-call-service","z":"73923c19.38c714","name":"Create Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"Hassio {{ payload }} has been released.\\n Currently running version is {{ current_version }}.\\n A backup has been taken.\",\"title\":\"Hassio {{ payload }} released\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":190,"y":160,"wires":[[]]},{"id":"97dfebc9.1ff4f8","type":"api-call-service","z":"73923c19.38c714","name":"Take Backup","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"auto_backup","service":"backup_full","entityId":"","data":"{\"name\":\"Pre {{ payload }} Upgrade\",\"keep_days\":7}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":160,"wires":[[]]},{"id":"9b02f5a.2e76708","type":"server-state-changed","z":"772d00ec.e2dd5","name":"New Add-on Updates","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.supervisor_addon_updates","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"true","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":120,"wires":[["235feb97.d90e64"],[]]},{"id":"8da0602b.ff6d5","type":"api-call-service","z":"772d00ec.e2dd5","name":"Pre Update Backup","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_partial","entityId":"","data":"{\"name\":\"Node Red Pre Add-on Update {{ payload }}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":150,"y":280,"wires":[["eff247ce.ac6b18"]]},{"id":"eff247ce.ac6b18","type":"api-current-state","z":"772d00ec.e2dd5","name":"Get Adds on to update","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.supervisor_addon_updates","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":360,"wires":[["6c5f41ac.ba5d5"]]},{"id":"cc6e72a5.95286","type":"join","z":"772d00ec.e2dd5","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1160,"y":120,"wires":[["80559376.a51fa"]]},{"id":"78150565.139c7c","type":"discord-send-messages","z":"772d00ec.e2dd5","name":"Send message","channel":"806659316987723776","token":"21d6d1a0.4f446e","x":1360,"y":120,"wires":[]},{"id":"80559376.a51fa","type":"function","z":"772d00ec.e2dd5","name":"","func":"msg.payload = \"All add-ons have been updated, please restart\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":200,"wires":[["78150565.139c7c"]]},{"id":"ca8b6812.1491f8","type":"server-state-changed","z":"772d00ec.e2dd5","name":"","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.hassos_versions","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":500,"wires":[["69d06102.9e558"]]},{"id":"c95f07db.a2e2d8","type":"debug","z":"772d00ec.e2dd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":500,"wires":[]},{"id":"69d06102.9e558","type":"function","z":"772d00ec.e2dd5","name":"","func":"current_version = msg.data.new_state.attributes.current_version\nlatest_version = msg.data.new_state.attributes.newest_version\nif(current_version != latest_version){\n    msg.payload = true\n} else {\n    msg.payload = false\n}\n\nflow.set(\"hassOS_current_version\", current_version)\nflow.set(\"hassOS_latest_version\", latest_version)\n\nmsg.payload['versions']['current'] = current_version\nmsg.payload['versions']['latest'] = latest_version\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":500,"wires":[["2fd42fc2.54639"]]},{"id":"2fd42fc2.54639","type":"switch","z":"772d00ec.e2dd5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":580,"wires":[["c95f07db.a2e2d8","a6fd50d2.d7ff9"]]},{"id":"a6fd50d2.d7ff9","type":"api-call-service","z":"772d00ec.e2dd5","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"HassOS {{ flow.get('hassOS_latest_version') }} has been released.\\n Currently running version is {{ flow.get('hassOS_current_version') }}.\\n A backup has been taken.\",\"title\":\"HassOS {{ payload }} released\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":580,"wires":[[]]},{"id":"aecb2e7b.8d09","type":"poll-state","z":"2bb9921e.1889be","name":"Check Humidity","server":"a5b89101.9f529","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.dry_soon_sensor_humidity","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":60,"wires":[["34dbfcf7.c342c4"]]},{"id":"34dbfcf7.c342c4","type":"excursion","z":"2bb9921e.1889be","name":"Humididty < 30 for 30 mins","time":"1800","softmax":"","softmin":"30","hardmax":"","hardmin":"","x":420,"y":60,"wires":[["dd235093.b49a9"]]},{"id":"1f94dfa9.6b658","type":"api-current-state","z":"2bb9921e.1889be","name":"Check Switch State","server":"a5b89101.9f529","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.drysoon","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":490,"y":180,"wires":[["3e7f7dec.b09722","14e792d4.80b85d"],[]]},{"id":"14e792d4.80b85d","type":"api-call-service","z":"2bb9921e.1889be","name":"Turn Off Drysoon","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.drysoon","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":120,"wires":[[]]},{"id":"3e7f7dec.b09722","type":"api-call-service","z":"2bb9921e.1889be","name":"Send Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Drysoon has reached limit, turning off.\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":200,"wires":[[]]},{"id":"a583248c.b2e8a8","type":"switch","z":"2bb9921e.1889be","name":"","property":"payload.event.tag_id","propertyType":"msg","rules":[{"t":"eq","v":"bd579131-7e6f-42f1-a598-5bcd35a2ec83","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":480,"wires":[["cfafb53e.df7148","ade3d0d3.47bc2"]]},{"id":"7d637362.d0ca0c","type":"server-events","z":"2bb9921e.1889be","name":"NFC Tag","server":"a5b89101.9f529","version":1,"event_type":"tag_scanned","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":120,"y":480,"wires":[["a583248c.b2e8a8"]]},{"id":"cfafb53e.df7148","type":"api-call-service","z":"2bb9921e.1889be","name":"Set Manual Override On","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.dry_soon_manual_override","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":440,"wires":[[]]},{"id":"516439c4.d29538","type":"switch","z":"2bb9921e.1889be","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":300,"wires":[["1f94dfa9.6b658"],["dff25c.4dd2dda8"]]},{"id":"dd235093.b49a9","type":"api-current-state","z":"2bb9921e.1889be","name":"Check Manual Override","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dry_soon_manual_override","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":170,"y":200,"wires":[["516439c4.d29538"]]},{"id":"dff25c.4dd2dda8","type":"delay","z":"2bb9921e.1889be","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":300,"wires":[["1f94dfa9.6b658","1b630e8a.3dd5b1"]]},{"id":"1b630e8a.3dd5b1","type":"api-call-service","z":"2bb9921e.1889be","name":"Set Override Off","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.dry_soon_manual_override","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":320,"wires":[[]]},{"id":"ade3d0d3.47bc2","type":"api-call-service","z":"2bb9921e.1889be","name":"Turn On Drysoon","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.drysoon","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":520,"wires":[[]]},{"id":"525b3e6a.42e37","type":"api-call-service","z":"c7747b48.7ed688","name":"Living Room Lights On","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_light, light.living_room_wall_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":40,"wires":[[]]},{"id":"3326605.979f4a","type":"time-range-switch","z":"c7747b48.7ed688","name":"After sunset?","lat":"55.95507","lon":"-3.15627","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":550,"y":40,"wires":[["525b3e6a.42e37"],[]]},{"id":"9a46ff17.69b4c","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Set Washing Machine Status - Standby","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\": \"Standby\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":60,"wires":[[]]},{"id":"a6a15281.edf82","type":"server-state-changed","z":"326a2f9b.df74e","name":"Dishwasher Door","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.dishwasher_door_contact","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":40,"wires":[["6c3d49f1.ee05b8"],[]]},{"id":"6c3d49f1.ee05b8","type":"api-current-state","z":"326a2f9b.df74e","name":"Get Door","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.dishwasher_door_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":420,"y":60,"wires":[["358c9b0e.d4e924"]]},{"id":"358c9b0e.d4e924","type":"switch","z":"326a2f9b.df74e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":360,"wires":[["e7557051.55cb"],["aa272b54.842b68"]]},{"id":"aa272b54.842b68","type":"api-current-state","z":"326a2f9b.df74e","name":"Load","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.dishwasher_watts","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":290,"y":360,"wires":[["62249db9.b6f2f4","ddb6e294.96354","6b19eed9.afcfc"]]},{"id":"a2052313.927b3","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Loading","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Loading\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":200,"wires":[[]]},{"id":"b9528a0.710f778","type":"api-call-service","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Dishwasher Started\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":620,"wires":[[]]},{"id":"615a3077.ed1d3","type":"api-call-service","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Dishwasher Finished\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":760,"wires":[[]]},{"id":"37485a1a.711a46","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Running","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Running\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":400,"wires":[[]]},{"id":"725a2105.41703","type":"api-current-state","z":"326a2f9b.df74e","name":"Get Door","server":"a5b89101.9f529","version":2,"outputs":2,"halt_if":"Running","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.dishwasher_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":680,"y":340,"wires":[["4445157f.b93a2c"],["8cf4e3c5.31e52"]]},{"id":"c048deff.37201","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Standby","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Standby\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":280,"wires":[[]]},{"id":"62249db9.b6f2f4","type":"range-for","z":"326a2f9b.df74e","name":"","above":"","below":"3","for":"5","units":"min","continuous":false,"x":510,"y":300,"wires":[["c048deff.37201"],[]]},{"id":"ddb6e294.96354","type":"range-for","z":"326a2f9b.df74e","name":"","above":"3","below":"4","for":"5","units":"min","continuous":false,"x":510,"y":360,"wires":[["725a2105.41703"],[]]},{"id":"6b19eed9.afcfc","type":"range-for","z":"326a2f9b.df74e","name":"","above":"4","below":"","for":"5","units":"min","continuous":false,"x":510,"y":420,"wires":[["37485a1a.711a46"],[]]},{"id":"151173be.54473c","type":"poll-state","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.dishwasher_watts","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":120,"wires":[["6c3d49f1.ee05b8"]]},{"id":"e7557051.55cb","type":"value-for","z":"326a2f9b.df74e","name":"","value":"on","casesensitive":false,"for":"5","units":"min","continuous":false,"x":340,"y":260,"wires":[["a2052313.927b3"],[]]},{"id":"8180b113.184c8","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"DrySoon Off Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Washing machine finished. Turn on DrySoon?\",\"data\":{\"ttl\":0,\"priority\":\"high\",\"actions\":[{\"action\":\"drysoon_on_yes\",\"title\":\"Yes\"},{\"action\":\"drysoon_on_no\",\"title\":\"No\"},{\"action\":\"drysoon_on_remind\",\"title\":\"Remind\"}]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":560,"wires":[[]]},{"id":"1dab8392.68fe8c","type":"switch","z":"2e9b8fc.dc36c7","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"drysoon_on_remind","vt":"str"},{"t":"eq","v":"drysoon_on_yes","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":660,"wires":[["a11274b8.c79c88"],["accddede.e4e81"]]},{"id":"ae4492b4.dc762","type":"server-events","z":"2e9b8fc.dc36c7","name":"Mobile Notification","server":"a5b89101.9f529","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":150,"y":660,"wires":[["1dab8392.68fe8c"]]},{"id":"accddede.e4e81","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Turn on DrySoon","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.drysoon","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":700,"wires":[["eaa861b2.f9b57"]]},{"id":"eaa861b2.f9b57","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"DrySoon On Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"DrySoon Now On\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":700,"wires":[[]]},{"id":"9e1b72bd.ebdde","type":"api-current-state","z":"2e9b8fc.dc36c7","name":"Drysoon Plug State","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.drysoon","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":650,"y":400,"wires":[["4181a538.a1d1bc"]]},{"id":"4181a538.a1d1bc","type":"switch","z":"2e9b8fc.dc36c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":500,"wires":[["ace18ff5.827b9"],["8180b113.184c8"],["a6e2f4e.ddef508"]]},{"id":"a6e2f4e.ddef508","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"DrySoon Unknown State","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Washing machine finished. Can't determine DrySoon state.\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":500,"wires":[[]]},{"id":"ace18ff5.827b9","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"DrySoon On Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Washing machine finished. DrySoon already on\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":440,"wires":[[]]},{"id":"e839bc86.66bab","type":"delay","z":"2e9b8fc.dc36c7","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":640,"wires":[["8180b113.184c8"]]},{"id":"a11274b8.c79c88","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"DrySoon Reminder","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Reminder to turn DrySoon on in 10 minutes set\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":640,"wires":[["e839bc86.66bab"]]},{"id":"5329a6ad.1bbe28","type":"server-state-changed","z":"c7747b48.7ed688","name":"Richard","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.richard_annand","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":320,"wires":[["a9ebee0b.50e38","6d949874.327a78"]]},{"id":"a5d06910.c393f8","type":"server-state-changed","z":"c7747b48.7ed688","name":"Ryan","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.ryan_mcintosh","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":400,"wires":[["a9ebee0b.50e38","6d949874.327a78"]]},{"id":"a9ebee0b.50e38","type":"or-gate","z":"c7747b48.7ed688","name":"","rules":[{"t":"eq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":"person.richard_annand"},{"t":"eq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":"person.ryan_mcintosh"}],"outputTopic":"","gateType":"or","emitOnlyIfTrue":true,"x":300,"y":260,"wires":[["8c725520.107788"]]},{"id":"6d949874.327a78","type":"and-gate","z":"c7747b48.7ed688","name":"","rules":[{"t":"eq","v":"not_home","vt":"str","propertyType":"msg","property":"payload","topic":"person.richard_annand"},{"t":"eq","v":"not_home","vt":"str","propertyType":"msg","property":"payload","topic":"person.ryan_mcintosh"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":true,"x":280,"y":480,"wires":[["ade8a08c.c6bd5"]]},{"id":"b6f87c09.7d502","type":"api-call-service","z":"c7747b48.7ed688","name":"Send Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Goodbye! Lights are now off, cameas are on..\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":500,"wires":[["284b07a0.271418"]]},{"id":"69357323.a67c8c","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":560,"wires":[[]]},{"id":"284b07a0.271418","type":"api-call-service","z":"c7747b48.7ed688","name":"Send Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_ele_l09","entityId":"","data":"{\"message\":\"Goodbye! Lights are now off, cameas are on..\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":500,"wires":[[]]},{"id":"ade8a08c.c6bd5","type":"join","z":"c7747b48.7ed688","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":480,"wires":[["b6f87c09.7d502","69357323.a67c8c","c8a95c5e.7dd17","fb7a5724d9fc45d0"]]},{"id":"c8a95c5e.7dd17","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_empty","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":620,"wires":[[]]},{"id":"8c725520.107788","type":"join","z":"c7747b48.7ed688","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":90,"y":60,"wires":[["4e6612af.c7021c"]]},{"id":"4e6612af.c7021c","type":"api-current-state","z":"c7747b48.7ed688","name":"Home Empty?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_empty","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":240,"y":100,"wires":[["bd2489c1.0622f8"]]},{"id":"bd2489c1.0622f8","type":"switch","z":"c7747b48.7ed688","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":60,"wires":[["3326605.979f4a","3d8eca55.59cf36","897bd1e5ec9a3a1b"]]},{"id":"3d8eca55.59cf36","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_empty","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":240,"wires":[[]]},{"id":"2c5efa97.eb4b56","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Increase Cycle Count","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"counter","service":"increment","entityId":"counter.washing_machine_cycles","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":380,"wires":[[]]},{"id":"9200559a.e69a18","type":"api-call-service","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"counter","service":"increment","entityId":"counter.dishwasher_cycles","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":320,"wires":[[]]},{"id":"e43bcf3c.46e9e","type":"server-state-changed","z":"c3015569.ff9158","name":"Kitchen Door","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":140,"wires":[["6f762e8a.fbbd6","b7a4276f.a1e9b8"],["a2cca598.1ba618"]]},{"id":"b7a4276f.a1e9b8","type":"api-call-service","z":"c3015569.ff9158","name":"Kitchen Lights On","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":60,"wires":[[]]},{"id":"386c2e70.868602","type":"api-call-service","z":"c3015569.ff9158","name":"Kitchen Lights Off","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":420,"wires":[[]]},{"id":"8d572d70.3f77a","type":"delay","z":"c3015569.ff9158","name":"Wait 30 minutes","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":300,"wires":[["386c2e70.868602"]]},{"id":"6f762e8a.fbbd6","type":"function","z":"c3015569.ff9158","name":"Reset Delay","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":180,"wires":[["8d572d70.3f77a"]]},{"id":"ca2f3d0e.56762","type":"api-call-service","z":"663e68a9.d31288","name":"Turn Off Switches","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wax_melter","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":180,"wires":[[]]},{"id":"a93d7411.315fb8","type":"server-state-changed","z":"e6f66e9e.8658e","name":"Lid Angle","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.nespresso_angle","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":140,"wires":[["cad7addd.b1f0d"]]},{"id":"cad7addd.b1f0d","type":"switch","z":"e6f66e9e.8658e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":140,"wires":[["145c6a8b.32d805"],["38a1736f.71b65c"]]},{"id":"145c6a8b.32d805","type":"api-call-service","z":"e6f66e9e.8658e","name":"Lid Closed","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.nespresso_lid","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":80,"wires":[[]]},{"id":"38a1736f.71b65c","type":"api-call-service","z":"e6f66e9e.8658e","name":"Lid Open","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.nespresso_lid","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":220,"wires":[[]]},{"id":"5efbdb8d.0ae704","type":"server-state-changed","z":"e6f66e9e.8658e","name":"Lid Open","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.nespresso_lid","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":220,"wires":[["39c27b10.d42b14"],[]]},{"id":"a67dcdfa.60d4b","type":"ha-wait-until","z":"e6f66e9e.8658e","name":"Wait for Closed Lid","server":"a5b89101.9f529","version":0,"outputs":1,"entityId":"input_boolean.nespresso_lid","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":270,"y":360,"wires":[["dd015158.c3bed"]]},{"id":"dd015158.c3bed","type":"ha-wait-until","z":"e6f66e9e.8658e","name":"Wait for Vibration","server":"a5b89101.9f529","version":0,"outputs":2,"entityId":"sensor.nespresso_action","entityIdFilterType":"exact","property":"state","comparator":"is","value":"vibration","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":430,"y":420,"wires":[["e0227732.3b48a8"],[]]},{"id":"e0227732.3b48a8","type":"ha-wait-until","z":"e6f66e9e.8658e","name":"Wait Lid Open","server":"a5b89101.9f529","version":0,"outputs":1,"entityId":"input_boolean.nespresso_lid","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":600,"y":480,"wires":[["21004fd2.64753","1923957b.df812b"]]},{"id":"21004fd2.64753","type":"api-call-service","z":"e6f66e9e.8658e","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"counter","service":"increment","entityId":"counter.nespresso_cycles","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":520,"wires":[[]]},{"id":"39c27b10.d42b14","type":"api-current-state","z":"e6f66e9e.8658e","name":"Cleaning Cycle?","server":"a5b89101.9f529","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.nespresso_cleaning","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":210,"y":300,"wires":[["a67dcdfa.60d4b"],[]]},{"id":"9cf96557.b7a268","type":"api-call-service","z":"9e4ffe6e.b6da2","name":"Send notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"There is someone at the door\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":80,"wires":[[]]},{"id":"aedcd4a8.798b58","type":"and-gate","z":"663e68a9.d31288","name":"","rules":[{"t":"eq","v":"on","vt":"str","propertyType":"msg","property":"payload","topic":"binary_sensor.sm_g988b_is_charging_2"},{"t":"eq","v":"off","vt":"str","propertyType":"msg","property":"payload","topic":"media_player.bedroom_tv"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":true,"x":860,"y":180,"wires":[["2fa3739d.54073c","ca2f3d0e.56762","f4a9e2b3.61109"]]},{"id":"663539b9.066db8","type":"server-state-changed","z":"9e4ffe6e.b6da2","name":"Front Door Contact Sensor","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_contact","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":320,"wires":[["b3d134bc.f58388","a16c5c0.87b18a8"],["aa1eb386.5189c"]]},{"id":"a16c5c0.87b18a8","type":"api-current-state","z":"9e4ffe6e.b6da2","name":"Get Hallways Light Status","server":"a5b89101.9f529","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.hallway_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":430,"y":260,"wires":[["53778de6.8b3da4"],[]]},{"id":"53778de6.8b3da4","type":"api-call-service","z":"9e4ffe6e.b6da2","name":"Turn on hallway light","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallway_light","data":"{\"brightness\": 255}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":240,"wires":[["5fdb5b4e.e5f664"]]},{"id":"5fdb5b4e.e5f664","type":"delay","z":"9e4ffe6e.b6da2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":240,"wires":[["b25eb37e.32687"]]},{"id":"b25eb37e.32687","type":"api-call-service","z":"9e4ffe6e.b6da2","name":"Turn off hallway light","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hallway_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":240,"wires":[[]]},{"id":"b3d134bc.f58388","type":"delay","z":"9e4ffe6e.b6da2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":320,"wires":[["78dbac0.83e6554"]]},{"id":"aa1eb386.5189c","type":"function","z":"9e4ffe6e.b6da2","name":"Reset Delay","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":460,"wires":[["b3d134bc.f58388"]]},{"id":"78dbac0.83e6554","type":"api-call-service","z":"9e4ffe6e.b6da2","name":"Send notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"The front door might be still open. Please check.\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":320,"wires":[[]]},{"id":"9a28fb17.2754d8","type":"comment","z":"9e4ffe6e.b6da2","name":"Front Door Notification","info":"","x":150,"y":40,"wires":[]},{"id":"f92124e8.503ad8","type":"comment","z":"9e4ffe6e.b6da2","name":"Lights On When Door Opens","info":"","x":160,"y":200,"wires":[]},{"id":"1923957b.df812b","type":"api-call-service","z":"e6f66e9e.8658e","name":"Pod Used Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Used a Nespresso Pod\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":440,"wires":[[]]},{"id":"a2cca598.1ba618","type":"time-range-switch","z":"c3015569.ff9158","name":"","lat":"55.95506","lon":"-3.15629","startTime":"11:30","endTime":"13:30","startOffset":0,"endOffset":0,"x":250,"y":300,"wires":[["8d572d70.3f77a"],["6a394d3c.41d224"]]},{"id":"6a394d3c.41d224","type":"time-range-switch","z":"c3015569.ff9158","name":"","lat":"55.95506","lon":"-3.15629","startTime":"16:30","endTime":"18:30","startOffset":"0","endOffset":0,"x":450,"y":420,"wires":[["8d572d70.3f77a"],["386c2e70.868602"]]},{"id":"fca9e495.32acf8","type":"trigger-state","z":"7a8f51e1.2f8e1","name":"Xbox Game Start","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.rj175_in_game","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":60,"wires":[["17104b882e9d925f"],[]]},{"id":"4a0558ca.862878","type":"api-call-service","z":"7a8f51e1.2f8e1","name":"Xbox Scene","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bedroom_xbox","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":160,"wires":[[]]},{"id":"b78560d2.dcae3","type":"server-state-changed","z":"2e9b8fc.dc36c7","name":"Washing Machine Cycles","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"counter.washing_machine_cycles","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"30","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":880,"wires":[["64dab23d.16c19c"],[]]},{"id":"64dab23d.16c19c","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Washing Machine Cycle notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Washing machine has over 30 cycles, time to clean.\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":880,"wires":[[]]},{"id":"83031a30.7bbbd8","type":"switch","z":"2e9b8fc.dc36c7","name":"Cleaning On?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":280,"wires":[["efe04caf.d3f58"],["98da1e72.90fed"]]},{"id":"98da1e72.90fed","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Washing Machine Cleaning","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Washing machine is running a cleaning cycle\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":360,"wires":[["d085064b.881398"]]},{"id":"d085064b.881398","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Reset Cycle Count","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.washing_machine_cycles","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":360,"wires":[[]]},{"id":"a92032ea.5e684","type":"switch","z":"2e9b8fc.dc36c7","name":"Cleaning On?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":480,"wires":[["9e1b72bd.ebdde"],["b2c70312.ad69c"]]},{"id":"b2c70312.ad69c","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Washing Machine Cleaning Finished","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Washing machine has finished cleaning.\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":170,"y":580,"wires":[["1cdc1774.eabb79"]]},{"id":"1cdc1774.eabb79","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Turn Cleaning Mode Off","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.washing_machine_cleaning","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":580,"wires":[[]]},{"id":"3e97c79c.d86208","type":"api-current-state","z":"2e9b8fc.dc36c7","name":"","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.washing_machine_cleaning","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":200,"wires":[["83031a30.7bbbd8"]]},{"id":"61ede97e.e0edb8","type":"api-current-state","z":"2e9b8fc.dc36c7","name":"","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.washing_machine_cleaning","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":270,"y":420,"wires":[["a92032ea.5e684"]]},{"id":"e5f08b3e.b53618","type":"server-state-changed","z":"7a8f51e1.2f8e1","name":"Update with Game Playing","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.rj175_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"['Offline', 'Home']","halt_if_type":"jsonata","halt_if_compare":"does_not_include","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":340,"wires":[["3657dc6f.7254f4"],[]]},{"id":"3657dc6f.7254f4","type":"function","z":"7a8f51e1.2f8e1","name":"Prepare Message","func":"msg.payload = {\n    \"type\": \"text\",\n    \"data\": \"Currently Playing:\\n\" + msg.payload }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":340,"wires":[["19d05b1c.a8a675"]]},{"id":"19d05b1c.a8a675","type":"mqtt out","z":"7a8f51e1.2f8e1","name":"Send to Topic","topic":"topic_1","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a8f3145.e9d35","x":620,"y":460,"wires":[]},{"id":"3f461dff.806012","type":"trigger-state","z":"7a8f51e1.2f8e1","name":"Return to Idle If Off","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.bedroom_xbox","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":420,"wires":[["3764022.85765fe"],[]]},{"id":"3764022.85765fe","type":"function","z":"7a8f51e1.2f8e1","name":"Prepare Message","func":"msg.payload = {\n    \"type\": \"image\",\n    \"data\": \"idle\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":420,"wires":[["19d05b1c.a8a675"]]},{"id":"f4a9e2b3.61109","type":"function","z":"663e68a9.d31288","name":"","func":"msg.payload = {\n    \"type\": \"image\",\n    \"data\": \"sleeping\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":260,"wires":[["4c21349.689b4cc"]]},{"id":"4c21349.689b4cc","type":"mqtt out","z":"663e68a9.d31288","name":"","topic":"topic_1","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a8f3145.e9d35","x":1240,"y":260,"wires":[]},{"id":"973a665a.c446c8","type":"server-state-changed","z":"7a8f51e1.2f8e1","name":"Set screen to Status","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.psb","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":520,"wires":[["8aeee290.0fee2"]]},{"id":"8aeee290.0fee2","type":"function","z":"7a8f51e1.2f8e1","name":"Prepare Message","func":"msg.payload = {\n    \"type\": \"image\",\n    \"data\": msg.payload }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":520,"wires":[["19d05b1c.a8a675"]]},{"id":"9a8e26d1.31c8f8","type":"switch","z":"2e9b8fc.dc36c7","name":"","property":"payload.event.tag_id","propertyType":"msg","rules":[{"t":"eq","v":"cb181a7f-2e64-433c-a319-c7d4b975475f","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1000,"wires":[["b40a4da8.b0ba9"]]},{"id":"fab6392b.733ac8","type":"server-events","z":"2e9b8fc.dc36c7","name":"NFC Tag","server":"a5b89101.9f529","version":1,"event_type":"tag_scanned","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":100,"y":1000,"wires":[["9a8e26d1.31c8f8"]]},{"id":"b40a4da8.b0ba9","type":"api-current-state","z":"2e9b8fc.dc36c7","name":"Washing Machine Cleaning","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.washing_machine_cleaning","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":440,"y":1000,"wires":[["7cccf42.298f20c"]]},{"id":"7cccf42.298f20c","type":"switch","z":"2e9b8fc.dc36c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":1000,"wires":[["a6f2af10.69"],["8e6c9403.c178a8"]]},{"id":"a6f2af10.69","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Set Washing Machine Cleaning On","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.washing_machine_cleaning","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":960,"wires":[[]]},{"id":"8e6c9403.c178a8","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Send Message","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Washing Machine is already in cleaning mode.\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":1060,"wires":[[]]},{"id":"b0c3d876.de56d8","type":"api-call-service","z":"2e9b8fc.dc36c7","name":"Pods remaining notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"You only have ${msg.payload} remaining washing machine pod(s), stock up.\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":820,"wires":[[]]},{"id":"17104b882e9d925f","type":"api-call-service","z":"7a8f51e1.2f8e1","name":"Xbox Game Mode Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Xbox game started, enable gaming mode?\",\"data\":{\"ttl\":0,\"priority\":\"high\",\"actions\":[{\"action\":\"xbox_gaming_mode_yes\",\"title\":\"Yes\"},{\"action\":\"xbox_gaming_mode_no\",\"title\":\"No\"}]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":20,"wires":[[]]},{"id":"89390125a7d593a4","type":"server-events","z":"7a8f51e1.2f8e1","name":"Mobile Notification","server":"a5b89101.9f529","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":190,"y":200,"wires":[["7586e95985abdb10"]]},{"id":"7586e95985abdb10","type":"switch","z":"7a8f51e1.2f8e1","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"xbox_gaming_mode_yes","vt":"str"},{"t":"eq","v":"xbox_lights_dimmed","vt":"str"},{"t":"eq","v":"xbox_lights_on","vt":"str"},{"t":"eq","v":"xbox_lights_off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":200,"wires":[["4a0558ca.862878"],["7baad8309d62cd68"],["467ef790e13a26fb"],["32dcd0146df373ba"]]},{"id":"be13e73cc875c009","type":"trigger-state","z":"7a8f51e1.2f8e1","name":"Xbox Game Finish","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.rj175_in_game","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":120,"wires":[["a55976073f7b73c6"],[]]},{"id":"a55976073f7b73c6","type":"api-call-service","z":"7a8f51e1.2f8e1","name":"Xbox Set Lights Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Xbox game finished, set lights?\",\"data\":{\"ttl\":0,\"priority\":\"high\",\"actions\":[{\"action\":\"xbox_lights_dimmed\",\"title\":\"Dimmed\"},{\"action\":\"xbox_lights_on\",\"title\":\"On\"},{\"action\":\"xbox_lights_off\",\"title\":\"Off\"}]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":100,"wires":[[]]},{"id":"7baad8309d62cd68","type":"api-call-service","z":"7a8f51e1.2f8e1","name":"Lights Dimmed","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bedroom_lights_dimmed","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":220,"wires":[[]]},{"id":"32dcd0146df373ba","type":"api-call-service","z":"7a8f51e1.2f8e1","name":"Lights Off","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bedroom_lights_off","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":340,"wires":[[]]},{"id":"467ef790e13a26fb","type":"api-call-service","z":"7a8f51e1.2f8e1","name":"Lights On","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bedroom_lights_on","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":280,"wires":[[]]},{"id":"f73588866447af20","type":"switch","z":"9e4ffe6e.b6da2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":80,"wires":[["5d82a7d.fd33d58"]]},{"id":"897bd1e5ec9a3a1b","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cameras_armed","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":140,"wires":[[]]},{"id":"fb7a5724d9fc45d0","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cameras_armed","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":680,"wires":[[]]}]