node-red/flows.json
[{"id":"663e68a9.d31288","type":"tab","label":"Night Routine","disabled":false,"info":""},{"id":"326a2f9b.df74e","type":"tab","label":"Dishwasher","disabled":false,"info":""},{"id":"772d00ec.e2dd5","type":"tab","label":"System Updates","disabled":false,"info":""},{"id":"73923c19.38c714","type":"tab","label":"System Automation","disabled":false,"info":""},{"id":"c7747b48.7ed688","type":"tab","label":"Away Mode","disabled":false,"info":""},{"id":"c3015569.ff9158","type":"tab","label":"Kitchen Lights","disabled":false,"info":""},{"id":"7a8f51e1.2f8e1","type":"tab","label":"Xbox Gaming Mode","disabled":false,"info":""},{"id":"c22f6ea1.aed2a","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[{"x":1000,"y":200,"wires":[{"id":"a8ce458c.320a68","port":0}]}]},{"id":"a5b89101.9f529","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"21d6d1a0.4f446e","type":"discord-token","name":"Home Assistant - Node Red"},{"id":"adbeb932.d85928","type":"tls-config","name":"IoT","cert":"","key":"","ca":"","certname":"cert.crt","keyname":"private.key","caname":"rootCA.crt","servername":"","verifyservercert":true},{"id":"9a8f3145.e9d35","type":"mqtt-broker","name":"IoT","broker":"aslahpnl8pasa-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"adbeb932.d85928","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"88736fd9.1712a","type":"api-current-state","z":"c22f6ea1.aed2a","name":"Is phone charging?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sm_g988b_is_charging_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":430,"y":180,"wires":[["c020a0a9.bcb31"]]},{"id":"85c83788.5f7bb8","type":"api-current-state","z":"c22f6ea1.aed2a","name":"Is bedroom TV off?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.bedroom_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":430,"y":80,"wires":[["c020a0a9.bcb31"]]},{"id":"c020a0a9.bcb31","type":"join","z":"c22f6ea1.aed2a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":200,"wires":[["a8ce458c.320a68"]]},{"id":"a8ce458c.320a68","type":"function","z":"c22f6ea1.aed2a","name":"","func":"if (msg.payload['media_player.bedroom_tv'] == \"off\" && msg.payload['binary_sensor.sm_g988b_is_charging_2'] == \"on\" && msg.payload['sensor.richards_ipad_battery_state'] == \"Charging\") {\n    msg.payload = true \n} else {\n    msg.payload = false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":200,"wires":[[]]},{"id":"2fa3739d.54073c","type":"api-call-service","z":"663e68a9.d31288","name":"Turn off Bedroom Lights","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bed, light.bedroom_tv, light.desk, light.bedroom_lamp, light.bedroom_standing_lamp, light.bedroom_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":100,"wires":[[]]},{"id":"aa192444.b2c908","type":"time-range-switch","z":"c22f6ea1.aed2a","name":"","lat":"","lon":"","startTime":"22:30","endTime":"04:00","startOffset":0,"endOffset":0,"x":190,"y":160,"wires":[["85c83788.5f7bb8","88736fd9.1712a"],[]]},{"id":"8cf4e3c5.31e52","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Idle","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Idle\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":360,"wires":[[]]},{"id":"8f9d4ef0.0ef3d","type":"trigger-state","z":"326a2f9b.df74e","name":"Dishwasher Running Notification","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.dishwasher_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Standby","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Running","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":660,"wires":[["f8a9df3e.33631","b9528a0.710f778"],[]]},{"id":"4445157f.b93a2c","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Finished","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Finished\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":320,"wires":[["9200559a.e69a18"]]},{"id":"bf9f30e8.ce7dd","type":"trigger-state","z":"326a2f9b.df74e","name":"Dishwasher Idle Notification","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.dishwasher_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Idle","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Running","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":250,"y":760,"wires":[["615a3077.ed1d3"],[]]},{"id":"f8a9df3e.33631","type":"api-call-service","z":"326a2f9b.df74e","name":"Decrease Tablet Count","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_number","service":"decrement","entityId":"input_number.dishwasher_tablets","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":680,"wires":[[]]},{"id":"320e4944.4673c6","type":"time-range-switch","z":"663e68a9.d31288","name":"","lat":"","lon":"","startTime":"22:30","endTime":"04:00","startOffset":0,"endOffset":0,"x":430,"y":180,"wires":[["7a657969.0c3b18","e2c9b406.f30488"],[]]},{"id":"7a657969.0c3b18","type":"api-current-state","z":"663e68a9.d31288","name":"Is bedroom TV off?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.bedroom_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":650,"y":100,"wires":[["aedcd4a8.798b58"]]},{"id":"e2c9b406.f30488","type":"api-current-state","z":"663e68a9.d31288","name":"Is phone charging?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sm_g988b_is_charging_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":650,"y":260,"wires":[["aedcd4a8.798b58"]]},{"id":"3b26831c.9f3b9c","type":"server-state-changed","z":"663e68a9.d31288","name":"Bedroom Display Playing","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_display","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":180,"wires":[["320e4944.4673c6"],[]]},{"id":"6c5f41ac.ba5d5","type":"function","z":"772d00ec.e2dd5","name":"Get addons","func":"msg.payload = msg.data.attributes.addons\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":360,"wires":[["b5058971.99a268"]]},{"id":"b5058971.99a268","type":"split","z":"772d00ec.e2dd5","name":"Split Addons","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":160,"wires":[["53592554.a341cc","ee926043.a43d7"]]},{"id":"53592554.a341cc","type":"function","z":"772d00ec.e2dd5","name":"Prep Payload for Update","func":"msg.url = \"http://supervisor/addons/\" + msg.payload.slug + \"/update\"\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = \"Bearer \" + env.get(\"SUPERVISOR_TOKEN\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":120,"wires":[["d6291ced.4c41b"]]},{"id":"d6291ced.4c41b","type":"http request","z":"772d00ec.e2dd5","name":"Update addon","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":120,"wires":[["cc6e72a5.95286"]]},{"id":"235feb97.d90e64","type":"moment","z":"772d00ec.e2dd5","name":"Current Timestamp","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"","outputType":"msg","outTz":"Europe/London","x":150,"y":200,"wires":[["8da0602b.ff6d5"]]},{"id":"532b65c.97a849c","type":"function","z":"772d00ec.e2dd5","name":"","func":"msg.payload = msg.payload.data.name + \" has been updated, you will need to restart\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["bb42df34.4e07a"]]},{"id":"bb42df34.4e07a","type":"discord-send-messages","z":"772d00ec.e2dd5","name":"Send message","channel":"806659316987723776","token":"21d6d1a0.4f446e","x":960,"y":420,"wires":[]},{"id":"ee926043.a43d7","type":"function","z":"772d00ec.e2dd5","name":"Prep Payload for Add-on Info","func":"msg.url = \"http://supervisor/addons/\" + msg.payload.slug + \"/info\"\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = \"Bearer \" + env.get(\"SUPERVISOR_TOKEN\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":200,"wires":[["b804790c.5e6dd8"]]},{"id":"b804790c.5e6dd8","type":"http request","z":"772d00ec.e2dd5","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":280,"wires":[["532b65c.97a849c"]]},{"id":"ba7b428b.cabcc","type":"comment","z":"73923c19.38c714","name":"Check for latest Hassio Version","info":"","x":170,"y":40,"wires":[]},{"id":"c54e62d.df0e7a","type":"api-current-state","z":"73923c19.38c714","name":"Get Current Version","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.current_hassio_version","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"current_version","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":360,"y":80,"wires":[["8c7baa75.c66818"]]},{"id":"8c7baa75.c66818","type":"switch","z":"73923c19.38c714","name":"Does version not match?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"current_version","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":80,"wires":[["56a22a29.22e504","97dfebc9.1ff4f8"]]},{"id":"d9704bd1.a12ca8","type":"server-state-changed","z":"73923c19.38c714","name":"Latest Hassio Version","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.latest_hassio_version","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":80,"wires":[["c54e62d.df0e7a"]]},{"id":"56a22a29.22e504","type":"api-call-service","z":"73923c19.38c714","name":"Create Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"Hassio {{ payload }} has been released.\\n Currently running version is {{ current_version }}.\\n A backup has been taken.\",\"title\":\"Hassio {{ payload }} released\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":190,"y":160,"wires":[[]]},{"id":"97dfebc9.1ff4f8","type":"api-call-service","z":"73923c19.38c714","name":"Take Backup","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"auto_backup","service":"backup_full","entityId":"","data":"{\"name\":\"Pre {{ payload }} Upgrade\",\"keep_days\":7}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":160,"wires":[[]]},{"id":"9b02f5a.2e76708","type":"server-state-changed","z":"772d00ec.e2dd5","name":"New Add-on Updates","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.supervisor_addon_updates","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"true","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":120,"wires":[["235feb97.d90e64"],[]]},{"id":"8da0602b.ff6d5","type":"api-call-service","z":"772d00ec.e2dd5","name":"Pre Update Backup","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"auto_backup","service":"snapshot_partial","entityId":"","data":"{\"name\":\"Node Red Pre Add-on Update {{ payload }}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":150,"y":280,"wires":[["eff247ce.ac6b18"]]},{"id":"eff247ce.ac6b18","type":"api-current-state","z":"772d00ec.e2dd5","name":"Get Adds on to update","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.supervisor_addon_updates","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":360,"wires":[["6c5f41ac.ba5d5"]]},{"id":"cc6e72a5.95286","type":"join","z":"772d00ec.e2dd5","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1160,"y":120,"wires":[["80559376.a51fa"]]},{"id":"78150565.139c7c","type":"discord-send-messages","z":"772d00ec.e2dd5","name":"Send message","channel":"806659316987723776","token":"21d6d1a0.4f446e","x":1360,"y":120,"wires":[]},{"id":"80559376.a51fa","type":"function","z":"772d00ec.e2dd5","name":"","func":"msg.payload = \"All add-ons have been updated, please restart\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":200,"wires":[["78150565.139c7c"]]},{"id":"ca8b6812.1491f8","type":"server-state-changed","z":"772d00ec.e2dd5","name":"","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.hassos_versions","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":500,"wires":[["69d06102.9e558"]]},{"id":"c95f07db.a2e2d8","type":"debug","z":"772d00ec.e2dd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":500,"wires":[]},{"id":"69d06102.9e558","type":"function","z":"772d00ec.e2dd5","name":"","func":"current_version = msg.data.new_state.attributes.current_version\nlatest_version = msg.data.new_state.attributes.newest_version\nif(current_version != latest_version){\n    msg.payload = true\n} else {\n    msg.payload = false\n}\n\nflow.set(\"hassOS_current_version\", current_version)\nflow.set(\"hassOS_latest_version\", latest_version)\n\nmsg.payload['versions']['current'] = current_version\nmsg.payload['versions']['latest'] = latest_version\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":500,"wires":[["2fd42fc2.54639"]]},{"id":"2fd42fc2.54639","type":"switch","z":"772d00ec.e2dd5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":580,"wires":[["c95f07db.a2e2d8","a6fd50d2.d7ff9"]]},{"id":"a6fd50d2.d7ff9","type":"api-call-service","z":"772d00ec.e2dd5","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"HassOS {{ flow.get('hassOS_latest_version') }} has been released.\\n Currently running version is {{ flow.get('hassOS_current_version') }}.\\n A backup has been taken.\",\"title\":\"HassOS {{ payload }} released\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":580,"wires":[[]]},{"id":"525b3e6a.42e37","type":"api-call-service","z":"c7747b48.7ed688","name":"Living Room Lights On","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_light, light.living_room_wall_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":40,"wires":[[]]},{"id":"3326605.979f4a","type":"time-range-switch","z":"c7747b48.7ed688","name":"After sunset?","lat":"55.95507","lon":"-3.15627","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":550,"y":40,"wires":[["525b3e6a.42e37"],[]]},{"id":"a6a15281.edf82","type":"server-state-changed","z":"326a2f9b.df74e","name":"Dishwasher Door","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.dishwasher_door_contact","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":40,"wires":[["6c3d49f1.ee05b8"],[]]},{"id":"6c3d49f1.ee05b8","type":"api-current-state","z":"326a2f9b.df74e","name":"Get Door","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.dishwasher_door_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":420,"y":60,"wires":[["358c9b0e.d4e924"]]},{"id":"358c9b0e.d4e924","type":"switch","z":"326a2f9b.df74e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":360,"wires":[["e7557051.55cb"],["aa272b54.842b68"]]},{"id":"aa272b54.842b68","type":"api-current-state","z":"326a2f9b.df74e","name":"Load","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.dishwasher_watts","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":290,"y":360,"wires":[["62249db9.b6f2f4","ddb6e294.96354","6b19eed9.afcfc"]]},{"id":"a2052313.927b3","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Loading","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Loading\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":200,"wires":[[]]},{"id":"b9528a0.710f778","type":"api-call-service","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Dishwasher Started\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":620,"wires":[[]]},{"id":"615a3077.ed1d3","type":"api-call-service","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Dishwasher Finished\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":760,"wires":[[]]},{"id":"37485a1a.711a46","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Running","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Running\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":400,"wires":[[]]},{"id":"725a2105.41703","type":"api-current-state","z":"326a2f9b.df74e","name":"Get Door","server":"a5b89101.9f529","version":2,"outputs":2,"halt_if":"Running","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.dishwasher_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":680,"y":340,"wires":[["4445157f.b93a2c"],["8cf4e3c5.31e52"]]},{"id":"c048deff.37201","type":"api-call-service","z":"326a2f9b.df74e","name":"Set Dishwasher Status - Standby","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.dishwasher_status","data":"{\"option\": \"Standby\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":280,"wires":[[]]},{"id":"62249db9.b6f2f4","type":"range-for","z":"326a2f9b.df74e","name":"","above":"","below":"3","for":"5","units":"min","continuous":false,"x":510,"y":300,"wires":[["c048deff.37201"],[]]},{"id":"ddb6e294.96354","type":"range-for","z":"326a2f9b.df74e","name":"","above":"3","below":"4","for":"5","units":"min","continuous":false,"x":510,"y":360,"wires":[["725a2105.41703"],[]]},{"id":"6b19eed9.afcfc","type":"range-for","z":"326a2f9b.df74e","name":"","above":"4","below":"","for":"5","units":"min","continuous":false,"x":510,"y":420,"wires":[["37485a1a.711a46"],[]]},{"id":"151173be.54473c","type":"poll-state","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.dishwasher_watts","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":120,"wires":[["6c3d49f1.ee05b8"]]},{"id":"e7557051.55cb","type":"value-for","z":"326a2f9b.df74e","name":"","value":"on","casesensitive":false,"for":"5","units":"min","continuous":false,"x":340,"y":260,"wires":[["a2052313.927b3"],[]]},{"id":"5329a6ad.1bbe28","type":"server-state-changed","z":"c7747b48.7ed688","name":"Richard","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.richard_annand","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":320,"wires":[["a9ebee0b.50e38","6d949874.327a78"]]},{"id":"a5d06910.c393f8","type":"server-state-changed","z":"c7747b48.7ed688","name":"Ryan","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.ryan_mcintosh","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":400,"wires":[["a9ebee0b.50e38","6d949874.327a78"]]},{"id":"a9ebee0b.50e38","type":"or-gate","z":"c7747b48.7ed688","name":"","rules":[{"t":"eq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":"person.richard_annand"},{"t":"eq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":"person.ryan_mcintosh"}],"outputTopic":"","gateType":"or","emitOnlyIfTrue":true,"x":300,"y":260,"wires":[["8c725520.107788"]]},{"id":"6d949874.327a78","type":"and-gate","z":"c7747b48.7ed688","name":"","rules":[{"t":"eq","v":"not_home","vt":"str","propertyType":"msg","property":"payload","topic":"person.richard_annand"},{"t":"eq","v":"not_home","vt":"str","propertyType":"msg","property":"payload","topic":"person.ryan_mcintosh"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":true,"x":280,"y":480,"wires":[["ade8a08c.c6bd5"]]},{"id":"b6f87c09.7d502","type":"api-call-service","z":"c7747b48.7ed688","name":"Send Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_richard_samsung_phone","entityId":"","data":"{\"message\":\"Goodbye! Lights are now off, cameas are on..\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":500,"wires":[["284b07a0.271418"]]},{"id":"69357323.a67c8c","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":560,"wires":[[]]},{"id":"284b07a0.271418","type":"api-call-service","z":"c7747b48.7ed688","name":"Send Notification","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_ele_l09","entityId":"","data":"{\"message\":\"Goodbye! Lights are now off, cameas are on..\",\"data\":{\"ttl\":0,\"priority\":\"high\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":500,"wires":[[]]},{"id":"ade8a08c.c6bd5","type":"join","z":"c7747b48.7ed688","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":480,"wires":[["b6f87c09.7d502","69357323.a67c8c","c8a95c5e.7dd17","fb7a5724d9fc45d0"]]},{"id":"c8a95c5e.7dd17","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_empty","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":620,"wires":[[]]},{"id":"8c725520.107788","type":"join","z":"c7747b48.7ed688","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":90,"y":60,"wires":[["4e6612af.c7021c"]]},{"id":"4e6612af.c7021c","type":"api-current-state","z":"c7747b48.7ed688","name":"Home Empty?","server":"a5b89101.9f529","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_empty","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":240,"y":100,"wires":[["bd2489c1.0622f8"]]},{"id":"bd2489c1.0622f8","type":"switch","z":"c7747b48.7ed688","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":60,"wires":[["3326605.979f4a","3d8eca55.59cf36","897bd1e5ec9a3a1b"]]},{"id":"3d8eca55.59cf36","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_empty","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":240,"wires":[[]]},{"id":"9200559a.e69a18","type":"api-call-service","z":"326a2f9b.df74e","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"counter","service":"increment","entityId":"counter.dishwasher_cycles","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":320,"wires":[[]]},{"id":"e43bcf3c.46e9e","type":"server-state-changed","z":"c3015569.ff9158","name":"Kitchen Door","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":140,"wires":[["6f762e8a.fbbd6","b7a4276f.a1e9b8"],["a2cca598.1ba618"]]},{"id":"b7a4276f.a1e9b8","type":"api-call-service","z":"c3015569.ff9158","name":"Kitchen Lights On","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":60,"wires":[[]]},{"id":"386c2e70.868602","type":"api-call-service","z":"c3015569.ff9158","name":"Kitchen Lights Off","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":420,"wires":[[]]},{"id":"8d572d70.3f77a","type":"delay","z":"c3015569.ff9158","name":"Wait 30 minutes","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":300,"wires":[["386c2e70.868602"]]},{"id":"6f762e8a.fbbd6","type":"function","z":"c3015569.ff9158","name":"Reset Delay","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":180,"wires":[["8d572d70.3f77a"]]},{"id":"ca2f3d0e.56762","type":"api-call-service","z":"663e68a9.d31288","name":"Turn Off Switches","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wax_melter","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":180,"wires":[[]]},{"id":"aedcd4a8.798b58","type":"and-gate","z":"663e68a9.d31288","name":"","rules":[{"t":"eq","v":"on","vt":"str","propertyType":"msg","property":"payload","topic":"binary_sensor.sm_g988b_is_charging_2"},{"t":"eq","v":"off","vt":"str","propertyType":"msg","property":"payload","topic":"media_player.bedroom_tv"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":true,"x":860,"y":180,"wires":[["2fa3739d.54073c","ca2f3d0e.56762","f4a9e2b3.61109"]]},{"id":"a2cca598.1ba618","type":"time-range-switch","z":"c3015569.ff9158","name":"","lat":"55.95506","lon":"-3.15629","startTime":"11:30","endTime":"13:30","startOffset":0,"endOffset":0,"x":250,"y":300,"wires":[["8d572d70.3f77a"],["6a394d3c.41d224"]]},{"id":"6a394d3c.41d224","type":"time-range-switch","z":"c3015569.ff9158","name":"","lat":"55.95506","lon":"-3.15629","startTime":"16:30","endTime":"18:30","startOffset":"0","endOffset":0,"x":230,"y":420,"wires":[["8d572d70.3f77a"],["386c2e70.868602"]]},{"id":"e5f08b3e.b53618","type":"server-state-changed","z":"7a8f51e1.2f8e1","name":"Update with Game Playing","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.rj175_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"['Offline', 'Home']","halt_if_type":"jsonata","halt_if_compare":"does_not_include","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":40,"wires":[["3657dc6f.7254f4"],[]]},{"id":"3657dc6f.7254f4","type":"function","z":"7a8f51e1.2f8e1","name":"Prepare Message","func":"msg.payload = {\n    \"type\": \"text\",\n    \"data\": \"Currently Playing:\\n\" + msg.payload }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":40,"wires":[["19d05b1c.a8a675"]]},{"id":"19d05b1c.a8a675","type":"mqtt out","z":"7a8f51e1.2f8e1","name":"Send to Topic","topic":"topic_1","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a8f3145.e9d35","x":640,"y":160,"wires":[]},{"id":"3f461dff.806012","type":"trigger-state","z":"7a8f51e1.2f8e1","name":"Return to Idle If Off","server":"a5b89101.9f529","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.bedroom_xbox","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":120,"wires":[["3764022.85765fe"],[]]},{"id":"3764022.85765fe","type":"function","z":"7a8f51e1.2f8e1","name":"Prepare Message","func":"msg.payload = {\n    \"type\": \"image\",\n    \"data\": \"idle\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":120,"wires":[["19d05b1c.a8a675"]]},{"id":"f4a9e2b3.61109","type":"function","z":"663e68a9.d31288","name":"","func":"msg.payload = {\n    \"type\": \"image\",\n    \"data\": \"sleeping\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":260,"wires":[["4c21349.689b4cc"]]},{"id":"4c21349.689b4cc","type":"mqtt out","z":"663e68a9.d31288","name":"","topic":"topic_1","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a8f3145.e9d35","x":1240,"y":260,"wires":[]},{"id":"973a665a.c446c8","type":"server-state-changed","z":"7a8f51e1.2f8e1","name":"Set screen to Status","server":"a5b89101.9f529","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.psb","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":220,"wires":[["8aeee290.0fee2"]]},{"id":"8aeee290.0fee2","type":"function","z":"7a8f51e1.2f8e1","name":"Prepare Message","func":"msg.payload = {\n    \"type\": \"image\",\n    \"data\": msg.payload }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":220,"wires":[["19d05b1c.a8a675"]]},{"id":"897bd1e5ec9a3a1b","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cameras_armed","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":140,"wires":[[]]},{"id":"fb7a5724d9fc45d0","type":"api-call-service","z":"c7747b48.7ed688","name":"","server":"a5b89101.9f529","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cameras_armed","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":680,"wires":[[]]}]